.DS_Store
__pycache__/
.env
.venv
.idea
.vscode
checkpoints/
outputs/
wandb/
data/locomo/processed*
*.log
memory/memory_cache_*
logs/
cache/
testing/results/
qa_dumps*/
results/
vllm_servers*/
testing/*/qdrants